.heroSection {
    position: relative;
    height: 95vh;
    background-image: url('./cargador.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.heroContent {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.heroTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.heroText {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #ffff;
}