.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
}


.navbar * {
  transition: color 0.2s;
}

.navbar:hover .logo,
.navbar:hover .navLink,
.navbar:hover .menuButton {
  color: black;
}

.navbar:hover {
  background-color: white;
}

/* Logo container con imagen */
.logo {
  position: relative;
  width: 90px;    /* Ajusta según tamaño de tu logo */
  height: 40px;
}


.navLinks {
  display: flex;
  gap: 2rem;
}

.navLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s;
}

.navLink:hover {
  color: #ccc;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 768px) {
  .navLinks {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    display: none;
    text-align: right;
  }

  .navLinks.open {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .navLinks.open .navLink {
    color: black;
  }

  .menuButton {
    display: block;
  }
}

/* ------------------ MENU ABIERTO ------------------ */
.menuOpen {
  background-color: white;
}

.menuOpen .menuButton {
  color: black;
}
